#coupon{
	height: 280px;
	width: 480px;
	background-color: gray;
	z-index:120;
	margin-left:35%;
	visibility: hidden;
	position: absolute;
	margin-top: 200px;
	position: fixed;
	box-shadow: 10px 15px 30px gray;
	border: 2px solid #dce14d;
}

#coupon > img {
	height: 280px;
	width: 480px;
}

.btn-coupon{
	height: 20px;
	width: 20px;
	font-size: 10px;
	font-weight: 800;
	border: 1px solid gray;
}

#coupon > .btn-coupon{
	position: absolute;
	right: 0;
	top: 5px;
}

body {
	margin: auto;
	color: #212121;
	font-size: 14px;
	font-family: Roboto,Arial,sans-serif;
	/* font-family: 'Times New Roman', Times, serif; */
}

.box {
	justify-content: center;
}

/****** navbar ******/
.navbar-nav {
	margin-left: auto;
}

.navbar {
	font-family: Arial,sans-serif;
	font-size: 16px;
}

/* Anchor tag */
.plus {
	text-decoration: none;
	color: white;
}

.plus:hover {
	color: white;
}


/* brand */
.brand {
	height: 42px;
	width: 78px;
	margin-left: 140px;
}

.brandTopImage{
	position: absolute;
	top: 4px;
}

.brandBottomLink{
	font-style: italic;
	font-size: 12px;
	position: absolute;
	top: 35px;
}

.brandBottomLink:hover {
	text-decoration: underline;
}

/* search bar */
.searchBar {
	position: absolute;
	top: 12px;
	width: 31%;
	max-width: 360px;
	margin-left: 240px;
	margin-right: 15px;
	align-items: center;
}

#search {
	height: 36px;
	width: 100%;
	font-size: 14px;
	margin-right: 0;
	border: none;
	border-radius: 2px 0 0 2px;	
}

.search-btn {
	justify-content: flex-end;
	height: 36px;
	width: 44px;
	font-size: 20px;
	color: #2874f0;
	padding: 4px 12px 0 8px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 0 2px 2px 0;
}

/* nabvar collapse */
.btn-toggler{
	height: 40px;
	width: 55px;
	font-weight: 800;
	border: 1px solid white;
}

ul{
	margin-right: 45px;
}

li{
	margin-right: 30px;
}

.btn-nav{ 
	height: 36px;
	width: 130px;
	margin-top: 3px;
	font-size: 14px;
	padding: 4px 12px 0 8px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 2px;
}

.btn-nav > a {
	padding: 0;
	color: #2874f0;
	text-decoration: none;
}

.nav-link {
	font-weight: 600;
}

.nav-link > span {
	margin-right: 10px;
}

/* ********************************************************************************************************************** */

#main {
	margin-top: 65px;
}


/* carousel */
.carousel-item > img {
	height: 250px;
	width: 100%;
}

.carousel {
	margin: 10px;
}

.carousel-indicators {
	display: none;
}

.carousel-btn {
	position: absolute;
	top: calc(50% - 52px);
	width: 47px;
	height: 104px;
	border: 1px solid white;
}

.slide-btn {
	font-size: 38px;
	color: rgb(0, 0, 0);
}

/* categories */
.flex-container {
	display: flex;
	width: 100%;
	height: 125px;
	flex-direction: row;
	margin-bottom: 10px;
	/* border: 2px solid red; */
}

.flex-container > hr {
	color: #878787;
	width: 100%;
	margin: 0;
}

.tile {
	height: 125px;
	width: 8%;
	margin-right: 10px;
	padding: 6px;
	display: inline-block;
	/* border: 2px solid green; */
}

.tileComponent1 {
	width: 90%;
	margin-left: 5%;
	height: 75px;
	margin-bottom: 3px;
	/* border: 2px solid blue; */
}

.tileComponent1 > img {
	width: 100%;
	height: 72px;
}

.tileComponent2 {
	width: 90%;
	margin-left: 5%;
	height: 25px;
	font-weight: 500;
	
	text-align: center;
	/* border: 2px solid violet; */
}

.tileComponent2:hover {
	color: #2874f0;
	cursor: pointer;
}

.tile2 {
	width: 10%;
}

.tile3 {
	width: 14%;
}

.tile3 > .tileComponent1 {
	padding: 0 25%;
}

.tile-btn {
	width: 100%;
	height: 23px;
	padding: 0;
	border-radius: 0;
	border: none;
	font-size: 14px;
	background-color: #fff;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
	font-size: 14px;
}

.dropdown-item:hover {
	color: #2874f0;
}

/* Components */
#components {
	margin: 20px 10px;
	border: 1px solid rgb(230, 228, 228);
}

.componentsHeader {
	display: inline-block;
	width: 96%;
	margin-left: 2%;
	margin-top: 10px;
	height: 67px;
}

.box-1 {
	float: left;
	width: 85%;
}



.title {
	font-weight: 600;
}

.subtitle {
	opacity: .6;
	font-size: 16px;
}

.box-2 {
	float: left;
	width: 15%;
	text-align: center;
}

.box-btn {
	border-radius: 0;
}

hr {
	margin: 0 5px;
}

.componentsHeader2 {
	display: inline-block;
	width: 96%;
	margin-left: 2%;
	margin-top: 10px;
	height: 48px;
}

/* Owl Carousel CSS */
.owl-nav {
	display: none;
}

.owlTile {
	height: 260px;
	padding: 15px 0;
	font-size: 14px;
	text-align: center;
	/* border:2px solid red; */
}

.owlComponent1 {
	height: 140px;
	width: 100%;
	margin-bottom: 10px;
	padding: 15px 34px;
	/* border:2px solid blue; */
}

.owlComponent1 > img {
	height: 110px;
}

.owlComponent1 > img:hover {
	transform: scale(1.1);
}

.owlComponent2 {
	height: 80px;
	width: 100%;
	/* border:2px solid purple; */
}

.owlComponent2 > span {
	display: block;
}

.name {
	font-weight: 600;
}

.cost {
	color: #388e3c;
	padding-top: 8px;
}

.highlights {
	opacity: .6;
	padding-top: 7px;
}

.owlComponent3 {
	height: 170px;
	width: 100%;
	margin-bottom: 10px;
	padding: 15px 34px;
	/* border:2px solid blue; */
}

.owlComponent3 > img {
	height: 140px;
}

.owlComponent3 > img:hover {
	transform: scale(1.1);
}

.owlComponent4 {
	height: 50px;
	width: 100%;
	/* border:2px solid purple; */
}

.owlComponent4 > span {
	display: block;
}


/* footer css */

footer {
	margin-top: 5%;
	height: 320px;
	background-color: #172337;
	color: #fff;
	/* border: 2px solid purple; */
}

.footer1 {
	width: 100%;
	height: 240px;
	margin-top: 10px;
	padding: 2% 3% 2% 5%;
	/* border: 2px solid green; */
}

.footer2 {
	width: 100%;
	height: 40px;
	margin-top: 10px;
	/* border: 2px solid green; */
}

.footer2 > hr {
	color: #878787;
	width: 100%;
	margin: 0;
}

.footer2 > p {
	text-align: center;
	margin: 20px 0;
}

.footDiv{
	width: 13%;
	height: 240px;
	float: left;
	text-align: left;
	margin-right: 6px;
	/* border: 2px solid blue; */
}

.footDiv > a {
	display: block;
	line-height: 1.8;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
}

.footDiv > a:hover {
	text-decoration: underline;
}

.footHeading {
	color: #878787;
	font-size: 13px;
	margin-bottom: 9px;
	font-family: Roboto,Arial,sans-serif;
}

.nowborder {
	height: 150px;
	width: 11%;
	margin-right: 20px;
	border-right: 1px solid #878787;
}

.footDiv-2 {
	width: 22%;
	height: 240px;
	float: left;
	text-align: left;
	margin-left: 3px;
	margin-right: 8px;
	/* border: 2px solid blue; */
}

.footDiv-2 > span {
	display: block;
	line-height: 1.8;
	font-size: 12px;
}

/* Media Query */
@media screen and (max-width:1254px) {
	.seller{
		display: none;
	}

	li{
		margin-right: 40px;
	}
}

@media screen and (max-width:1105px) {
	.footDiv5{
		display: none;
	}

	.footDiv{
		width: 17%;
	}

	.nowborder {
		border: none;
	}
}

/* button collapse */
@media screen and (max-width:990px) {
	.seller{
		display:block !important;
	}

	.btn-nav{
		display: none;
	}

	.nav-link{
		margin-left: 60px;
		margin-top: 5px;
	}

	.brand {
		margin-left: 60px;
	}

	.searchBar{
		width: 54%;
		margin-left: 200px;
	}

	#coupon{
		height: 230px;
		width: 390px;
		margin-left:26%;
	}

	#coupon > img {
		height: 230px;
		width: 390px;
	}

	.owlTile {
		height: 285px;
	}

	.owlComponent3 {
		height: 200px;
	}

	.owlComponent3 > img {
		height: 176px;
	}

	.owl-carousel .owl-item img {
		display: block;
		width: 92%;
	}

	.owlComponent1 {
		height: 170px;
	}

	.owlComponent1 > img {
		height: 140px;
	}
	
}

@media screen and (max-width:926px) {
	.tile_10{
		display: none;
	}

	.tile{
		width: 9%;
	}
}

@media screen and (max-width:900px) {
	.footDiv6{
		display: none;
	}

	.footDiv{
		width: 23%;
	}

	.footer1{
		padding: 2% 2% 2% 12%;
	}
}

@media screen and (max-width:830px) {
	.footDiv2{
		display: none;
	}

	.footDiv{
		width: 30%;
	}

	.tile_9{
		display: none;
	}

	.tile{
		width: 12%;
	}

}

@media screen and (max-width:730px) {
	.box-1 {
		width: 75%;
	}

	.box-2 {
		width: 25%;
	}
}

@media screen and (max-width:675px) {
	.nav-link{
		margin-left: 40px;
	}

	.brand {
		margin-left: 40px;
	}

	.searchBar{
		margin-left: 150px;
	}

	.tile_6{
		display: none;
	}

	.tile{
		width:20%
	}

}

@media screen and (max-width:600px) {
	.nav-link{
		margin-left: 20px;
	}

	.brand {
		margin-left: 20px;
	}

	.searchBar{
		width: 57%;
		margin-left: 120px;
	}

	#coupon{
		height: 190px;
		width: 350px;
		margin-left:15%;
	}

	#coupon > img {
		height: 190px;
		width: 350px;
	}

	.tile_5{
		display: none;
	}

	.tile{
		width:25%
	}

}

/* xs */
@media screen and (max-width:576px) {
	.footer1 {
		padding: 2% 1% 2% 12%;
	}

	.owlComponent1 {
		margin-bottom: 16px;
		padding: 15px 65px;
	}

	.owlComponent1 > img {
		height: 160px;
	}

	.owl-carousel .owl-item img {
		width: 85%;
	}

	.owlComponent3 {
		margin-bottom: 10px;
		padding: 15px 65px;
	}

	.owlComponent3 > img {
		height: 200px;
	}

	.tile_4{
		display: none;
	}

	.tile{
		width:30%
	}

}