body {
	margin: 0;
	position: relative;
}

#hiddenBar {
	display: none;
	height: 50px;
	margin: 0;
	margin-top: 60px;
	border: 2px solid #2874f0;
	padding-top: 5px;
	background-color: #2874f0;
}

a {
	text-decoration: none;
	color: inherit;
	border: none;
	outline: none;
}

/* a:hover {
	color: inherit;
} */

/*	******************************************** Coupon CSS ***************************************************	*/
#coupon{
	height: 320px;
	width: 50%;
	background-color: gray;
	z-index:120;
	margin-left:25%;
	visibility: hidden;
	position: fixed;
	margin-top: 200px;
	box-shadow: 10px 15px 30px gray;
	border: 2px solid #dce14d;
}

#coupon > img {
	height: 100%;
	width: 100%;
}

.btn-coupon{
	height: 30px;
	width: 30px;
	font-size: 18px;
	font-weight: 800;
	border-radius: 50%;
	color: red;
	background-color: lightcyan;
	border: 1px solid gray;
}

#coupon > .btn-coupon{
	position: absolute;
	right: 0;
	top: 5px;
}

/*	******************************************** Navbar CSS ***************************************************	*/
.navbar-nav {
	margin-left: auto;
}

/*	******** Light & Dark Mode CSS ********	*/
#clock {
	position: absolute;
	top: 7px;
	left: 15px;
	width: 45px;
	height: 45px;
	font-size: 25px;
	padding: 6px;
	padding-top: 24px;
	border-radius: 60%;
}

#clock > i {
	position: absolute;
	left: 9px;
	top: 3px;
}

/*	******** WeatherAPI CSS ********	*/
#weather {
	height: 40px;
	position: absolute;
	left: 80px;
	top: 9px;
	margin-right: 10px;
}

#weatherOut {
	color: black;
	font-size: 18px;
	font-weight: 800;
	padding-top: 8px;
}

#weatherIcon {
	height: 50px;
	position: absolute;
	top: 0;
	left: 70px;
}

/*	******** Anchor Tag CSS ********	*/
.plus {
	text-decoration: none;
	color: white;
}

.plus:hover {
	color: white;
}

/*	******** Brand CSS ********	*/
.brand {
	display: flex;
	flex-direction: column;
	height: 42px;
	width: 78px;
	margin-left: 18%;
	margin-right: 20px;
}

.brandTopImage{
	position: absolute;
	top: 4px;
}

.brandBottomLink{
	font-style: italic;
	font-size: 12px;
	position: absolute;
	top: 35px;
}

.brandBottomLink:hover {
	text-decoration: underline;
}

/*	******** Search Bar CSS ********	*/
#searchBar{
	width: 31%;
	margin-right: 40px;
	min-width: 304px;
	max-width: 564px;
	position: relative;
}

#search {
	border-radius: 2px 0 0 2px;
	font-size: 14px;
	border-right: 0;
}

#btn-search {
	font-size: 18px;
	color: #2874f0;
	border-left: 0;
	padding: 4px 12px 0 8px;
	background-color: #fff;
	border-radius: 0 2px 2px 0;
}

#searchBar-2{
	width: 100%;
	position: relative;
	padding: 0 10px;
}

#search-2 {
	border-radius: 2px 0 0 2px;
	font-size: 14px;
	border: 1px solid black;
	border-right: 0;
}

#btn-search-2 {
	font-size: 18px;
	color: #2874f0;
	padding: 4px 12px 0 8px;
	background-color: #fff;
	border-radius: 0 2px 2px 0;
	border: 1px solid black;
	/* border-left: 0; */
}

/*	******** Navbar Collapse CSS ********	*/
.navbar-collapse {
	margin: 0;
	margin-right: 20px;
}

li{
	margin-right: 55px;
}

#btn-login{
	min-width: 120px;
	padding-top: 2px;
	margin-top: 3px;
	border-radius: 3px;
}

#btn-login > a {
	text-decoration: none;
	color: #2874f0;
}

#hidden-item {
	display: none;
}

.nav-link {
	font-weight: 600;
}

.nav-link > span {
	margin-right: 10px;
}

.dropdown-item {
	font-size: 14px;
}

/*	******************************************** Main CSS ***************************************************	*/
#main {
	width: 100%;
	margin-top: 58px;
}
.mywhite {
	background-color: white;
	color: black;
}
.mydark {
	background-color: black;
	color: #fff;
}

/*	******************************************** Header CSS ***************************************************	*/
#headerDiv {
	display: flex;
	flex-direction: column;
}

/*	******** Category CSS ********	*/
.category-card {
	height: 115px;
	width: 8%;
	margin: 5px 8px;
	padding: 6px;
	display: inline-block;
}

.card-top {
	width: 90%;
	margin-left: 5%;
	height: 75px;
	margin-bottom: 5px;
}

.card-top > img {
	width: 100%;
	height: 100%;
}

.card-bottom {
	width: 90%;
	margin-left: 5%;
	height: 23px;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}

.card-bottom:hover {
	color: #2874f0;
	cursor: pointer;
}

.body {
	width: 12%;
}

.top {
	width: 60%;
	margin-left: 20%;
}

.bottom {
	font-size: 13px;
}

/*	******** Carousel CSS ********	*/
.break {
	width: 100%;
	height: 1px;
	background-color: grey;
}

#devCarousel {
	z-index: 10px;
	border: 1px solid rgb(230, 228, 228);
}

.carousel-item {
	height: 270px;
}

.carousel-item > img {
	height: 100%;
	width: 100%;
}

.carousel {
	margin: 10px;
}

#carousel-btn {
	position: absolute;
	top: calc(50% - 52px);
	width: 47px;
	height: 104px;
	border: 1px solid white;
	background-color: hsla(0,0%,100%,.98);
	box-shadow: 0 1px 5px 0 rgb(0 0 0 / 11%);
}

.slide-btn {
	font-size: 38px;
	color: rgb(0, 0, 0);
}

/*	******************************************** Category-Fields CSS ***************************************************	*/
#category-Fields {
	margin: 10px;
}

/*	******************************************** Components CSS ***************************************************	*/
#components {
	margin: 20px 0;
	border: 1px solid rgb(230, 228, 228);
}

.componentsHeader {
	width: 96%;
	margin-left: 2%;
	margin-top: 10px;
	display: flex;
}

.title-box {
	width: 80%;
}

.view-box {
	width: 20%;
	min-width: 90px;
	text-align: center;
	margin: 10px 0;
}

.title {
	font-weight: 600;
}

.subtitle {
	opacity: .6;
	font-size: 16px;
}

/*	******************************************** Owl Carousel CSS ***************************************************	*/
.owl-nav {
	display: none;
}

.owlTile {
	height: 260px;
	font-size: 14px;
	text-align: center;
	padding: 15px 20px;
	/* border:2px solid red; */
}

.owlComponent1 {
	height: 140px;
	width: 100%;
	margin-bottom: 10px;
	padding: 13px 20px;
	/* border:2px solid blue; */
}

.owlComponent1 > img {
	height: 110px;
}

.owlComponent1 > img:hover {
	transform: scale(1.1);
}

.owlComponent2 {
	height: 80px;
	width: 100%;
	/* border: 2px solid purple; */
}

.owlComponent2 > span {
	display: block;
}

/* **************************** */
.owlComponent3 {
	height: 170px;
	width: 100%;
	margin-bottom: 10px;
	padding: 13px 25px;
	/* border:2px solid blue; */
}

.owlComponent3 > img {
	height: 140px;
}

.owlComponent3 > img:hover {
	transform: scale(1.1);
}

.owlComponent4 {
	height: 50px;
	width: 100%;
	/* border:2px solid purple; */
}

.owlComponent4 > span {
	display: block;
}

/* *************************** */

.name {
	font-weight: 600;
}

.cost {
	color: #388e3c;
	padding-top: 8px;
}

.highlights {
	opacity: .6;
	padding-top: 7px;
}

/*	******************************************** Owl Carousel CSS ***************************************************	*/
footer {
	margin-top: 5%;
	height: 320px;
	background-color: #172337;
	color: #fff;
	/* border: 2px solid purple; */
}

.footer1 {
	width: 100%;
	height: 260px;
	margin: 0 10px;
	padding: 2% 3% 2% 5%;
	/* border: 2px solid green; */
}

.footer2 {
	width: 100%;
	height: 40px;
	margin-top: 10px;
	/* border: 2px solid green; */
}

.footer2 > p {
	text-align: center;
	margin: 20px 0;
}

.footDiv{
	width: 13%;
	height: 220px;
	float: left;
	text-align: left;
	margin-right: 6px;
	/* border: 2px solid blue; */
}

.footDiv > a {
	display: block;
	line-height: 1.8;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
}

.footDiv > a:hover {
	text-decoration: underline;
}

.footHeading {
	color: #878787;
	font-size: 13px;
	margin-bottom: 9px;
	font-family: Roboto,Arial,sans-serif;
}

.nowborder {
	margin-right: 20px;
	border-right: 1px solid #878787;
}

.footDiv-2 {
	width: 21%;
	height: 220px;
	float: left;
	text-align: left;
	margin-left: 3px;
	margin-right: 8px;
	/* border: 2px solid blue; */
}

.footDiv-2 > span {
	display: block;
	line-height: 1.8;
	font-size: 12px;
}

/* ********************************************************************************************************************** */
@media screen and (max-width:1263px) {
	#headerDiv {
		flex-direction: column-reverse;
	}
	.category-card {
		height: 120px;
		width: 16%;
		padding: 10px 32px;
		margin: 5px 1%;
	}
	.body {
		width: 17%;
		padding: 10px;
		margin: 5px 1%;
	}
	.body-2 {
		width: 17%;
		padding: 10px;
		margin: 5px 1%;
	}
	.top-2 {
		width: 60%;
		margin-left: 20%;
	}
	.bottom-2 {
		font-size: 13px;
	}
	.card-top > img {
		border-radius: 51%;
		border: 1px solid rgba(255, 217, 0, 0.921);
	}
}

@media screen and (max-width:1129px) {
	li {
		margin-right: 35px;
	}
	#searchBar{
		margin-right: 20px;
	}
	#weather {
		position: absolute;
		left: 68px;
	}
	.brand {
		margin-right: 14px;
	}
	.footDiv6{
		display: none;
	}
	.footer1{
		margin: 0 20px;
		padding: 2% 2% 2% 8%;
	}
	.footDiv{
		width: 16%;
	}
}

@media screen and (max-width:991px) {
	li {
		margin-left: 6px;
		margin-top: 10px;
	}
	.brand {
		margin-left: 23%;
	}
	.owlTile {
		height: 285px;
	}
	.owlComponent1 {
		padding: 13px 34px;
		height: 170px;
	}
	.owlComponent1 > img {
		height: 140px;
	}
	.owlComponent3 {
		height: 200px;
	}
	.owlComponent3 > img {
		height: 176px;
	}
	.owl-carousel .owl-item img {
		display: block;
		width: 92%;
	}
	#coupon{
		height: 280px;
		width: 60%;
		margin-left:20%;
	}
}

@media screen and (max-width:878px) {
	.carousel-item {
		height: 250px;
	}
	.category-card {
		width: 22%;
		padding: 10px 30px;
	}
	.body {
		width: 22%;
		padding: 10px;
		margin: 10px 1%;
	}
	.noDisplay {
		display: none;
	}
	.footDiv{
		width: 22%;
	}
	.footDiv5{
		display: none;
	}
	.nowborder {
		border: none;
	}
}

@media screen and (max-width:851px){
	#btn-login {
		display: none;
	}
	#hidden-item {
		display: block;
	}
	.brand {
		margin-left: 30%;
	}
}

@media screen and (max-width:716px){
	#searchBar {
		width: 0;
		min-width: 0;
		margin: 0;
	}
	#search {
		display: none;
	}
	#btn-search {
		display: none;
	}
	#hiddenBar {
		display: block;
	}
	.brand {
		margin-left: 50%;
	}
	#weather {
		position: absolute;
		left: 15%;
	}
}

@media screen and (max-width:695px){
	.owlTile {
		padding: 0;
	}
	.category-card {
		padding: 10px 15px;
	}
	.body {
		padding: 10px 0px;
	}
	.carousel-item {
		height: 200px;
	}
	#carousel-btn {
		width: 30px;
	}
}

@media screen and (max-width:600px) {
	.owlTile {
		padding: 13px 80px;
	}
	#coupon{
		height: 220px;
		width: 84%;
		margin-left: 8%;
	}
}

@media screen and (max-width:499px){
	.brand {
		margin-left: 55%;
	}
	#weather {
		position: absolute;
		left: 20%;
	}
	.category-card {
		width: 30%;
		padding: 10px 15px;
	}
	.noDisplay-2 {
		display: none;
	}
	.carousel-item {
		height: 180px;
	}
	.owlTile {
		padding: 13px 50px;
	}
}

@media screen and (max-width:360px){
	.footDiv2 {
		display: none;
	}
	.footDiv{
		width: 28%;
	}
	.brand {
		margin-left: 35%;
	}
	#weather {
		display: none;
	}
}